<?xml version="1.0"?>
<configuration>
<configSections>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
</configSections>
  
<connectionStrings>
    <add name="iMgmt.Properties.Settings.SIS_DBConnectionString"
        connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database\SIS_DB.accdb"
        providerName="System.Data.OleDb" />
</connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
<appSettings>
        <add key="DatabasePath" value="D:\Db-DontDelete\SIS_DB.accdb"/>
<add key="DatabaseFolder" value="D:\Db-DontDelete"/>

    </appSettings>
</configuration>
